.prueba{
  height: 1000px;
  background-image: url("/public/images/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.navbar a{
  color: white;
}
.main{

 height: 100%;
 width: 100%;
 text-align: center;
 
}

.main h1{
  color: white;

}

.main h4{
  color: white;
  

}
.main button{
  width: 236px;
  height: 52px;

}

@media screen and (min-width: 801px) {
  .main{
    padding: 100px;

  }
  .main h1 {
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
    width: 672px;
    height: 168px;
    letter-spacing: 0.2px;
  }
  .main h4{
    font-size: 28px;
    width: 766px;
    height: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
  }
}
@media screen and (max-width: 800px) {
  .main{
    padding: 50px;

  }
  .main h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .main h4{
    font-size: 16px;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
  }
  .main h4 span{
    display: none;
  }
}

.features{
  padding-top: 100px;
}